* {
    padding: 0px;
    margin: 0px;
}

.box {
    position: relative;
    float: left;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #cccccc;
}

.box img {
    width: 282px;
    height: auto;
}